@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New';
}

header
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/hero-back.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.hero-text-box
{
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /*centers items on the line (the x-axis by default)*/
    align-items: center; /*centers items on the cross-axis (y by default)*/
}


/*------------------------*/
/* REUSABLE CONTENTS */
/*------------------------*/

.row
{
    max-width: 1140px;
    margin: 0 auto 0 auto;
}

section
{
    padding: 80px 0;
}


/*-----------HEADING-------------*/

h1, h2, h3
{
    font-weight: 300;
    text-transform: uppercase;
}

h1
{
    color: #fff;
    font-size: 240%;
    word-spacing: 6px;
    letter-spacing: 6px;
}

h2
{
    font-size: 180%;
    font-family: 'Press Start 2P';
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: -30px;
    letter-spacing: 1px;
}

h2:after
{
    display: block;
    content: " ";
    width: 100px;
    margin: 0 auto;
}

h3
{
    font-size: 110%;
    margin-bottom: 15px;
}


/* ---IMAGES--- */

.section-notion
{
    
}

.notion__showcase--left
{
    list-style: none;
    display: flex;
    justify-content:start;
}

.notion__showcase--left .immg
{
    flex: 0 0 30%;
}

.notion__showcase--left blockquote
{
    flex: 1;
}

.notion__showcase--right
{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.notion__showcase--right .immg
{
    flex: 0 0 30%;
}

.notion__showcase--right blockquote
{
    flex: 1;
}

blockquote
{
    padding: 2%;
    font-style: italic;
    font-size: 120%;
    line-height: 145%;
    position: relative;
    margin-top: 25%;
}

blockquote:before
{
    content: "\201C";
    font-size: 550%;
    display: block;
    position: absolute;
    top: -5px;
    left: -10px;
}

.notion__img
{
    font-size: 90%;
}

.notion__img img
{
    height: 350px;
    width: 270px;
    align-items:flex-end;
}

.notion__text
{
    justify-content: center;
    align-items: center;
}

.immg
{
    width: 50%;
}

/*-----ENDORSEMENT-----*/

.section-endorsement
{
    background-color: rgb(247, 247, 247);
    background-size: cover;
    background-attachment: fixed;
}

.section-endorsement .row
{
    margin-bottom: -40px ;
}

cite
{
    font-size: 90%;
    margin-top: 25px;
    display: block;
    text-align: end;
    
}

cite img
{
    height: 75px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

.section-endorsement blockquote
{
    margin-top: 130px;
}

.section-contact img
{
    display: block;
    margin: 0 auto 0 auto;
}

.section-contact h3
{
    margin: 10px 0 35px 0;
    text-align: center;
}